@model AdviseeGPATracker.Models.Entities.Course

@{
    ViewData["Title"] = "About Developer";
}

<h2>Developer: Aaron Barlow</h2>

<div>
    Experienced full stack developer delivering performant, 
    well-tested applications with specialized knowledge writing CRM applications. 
    Currently pursing a Bachelor’s in Computer Science from East Tennessee State University. Loves Ruby, Crystal, and C++.
</div>